<launch>

    <arg name="robot_name_slash" default="robot/" />
    <arg name="robot_name" default="robot" />
    <param name="/use_sim_time" value="true"/> 

    <group ns="$(arg robot_name)">
        <node pkg="ekf" type="ekf.py" name="ekf_footprint_broadcaster" output="screen">
            <param name="robot_parent_frame_id" value="$(arg robot_name_slash)map"/>
            <param name="robot_frame_id" value="$(arg robot_name_slash)base_footprint"/>
            <param name="update_rate" value="100"/>
            <param name="use_sim_time" value="true" />
        </node>

        <node pkg="ekf" type="camera_publisher.py" name="fake_cam" output="screen">
        </node>
    </group>
</launch>
