<launch>
    <!-- Declare arguments -->
    <arg name="robot_name" default="robot" />
    <arg name="robot_name_slash" default="robot/" />
    
    <!-- Set simulation time -->
    <group>
        <push_ros_namespace namespace = "$(var robot_name)"/>
        <!-- Include the rplidar launch file -->
        <include file="$(find-pkg-share rplidar_ros)/launch/rplidar_s3_launch.py">
            <!-- <arg name="namespace" value="$(arg robot_name_slash)" /> -->
        </include>
    </group>
</launch>